a.primary
input[type=submit]
    position relative
    -webkit-appearance none
    background-color #008942
    color #ffffff
    padding 21px 42px
    border none
    font-size 22px
    letter-spacing 10px
    font-family "Minecrafter", sans-serif
    cursor pointer
    &:hover
        background-color #00AE54